footer { 
    position: fixed;
    bottom: 0;
}



#habitAddPage {
    position: fixed;
    bottom: -100%;
    background-color: aquamarine;
    margin: 0;
    z-index: 10;
    box-sizing: border-box;
    width: 80%;
    transition: 0.5s;
}

#habitAddPage.active {
    bottom:0; 
}

.hidden { 
    display:none
}
