* {
    box-sizing: border-box;
}


footer { 
    position: fixed;
    bottom: 0;
}



#habitAddPage {
    position: fixed;
    bottom: -100%;
    background-color: aquamarine;
    margin: 0;
    z-index: 10;
    box-sizing: border-box;
    width: 80%;
    transition: 0.5s;
}

#habitAddPage.active {
    bottom:0; 
}

.hidden { 
    display:none
}

.habit-card { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border: 1px solid orange;
    background-color: papayawhip;
}

.habitTitle {
    margin: 0;

}

.edit {
    margin: 0;
}

.typeBtn {
    margin:0;
}
.edit:hover {
    font-size: 30px;
    color: slategray;
}

.typeBtn:hover {
    font-size: 30px;
    color: slategray;
}
