header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.usrPass {
    display: flex;
    flex-direction: column;
    
}

.username, .password {
    margin: 10px; 
   
}